# DECLARAÇÃO DE IMPOSTO DE RENDA PARA AÇÕES
**ESSA DECLARAÇÃO É PARA:**  
- AÇÕES NEGOCIADAS NA B3
- APENAS SWING TRADE
- INVESTIDORES QUE ENTENDAM MINIMAMENTE DE PYTHON E PANDAS 

## COMO UTILIZAR:
- 1) Acessar a área do investidor em https://www.b3.com.br/
- 2) No menu acessar Extratos
- 3) Localizar as abas "Movimentação", "Negociação" e "Ofertas Públicas"
- 3) Filtrar cada uma das abas citadas entre os dias 01/01/(ano de cálculo) ao dia 31/12/(ano de cálculo)
- 4) No canto inferior direito de cada aba filtrada, clicar no botão amarelo de download e selecionar "Excel"
- 5) Após o download dos 3 relátorios, inclui-los na pasta "relatorios_b3" deste projeto
- 6) Alterar as variáveis abaixo com os nomes dos relatórios inseridos na pasta
- 7) É necessário que se tenha as posições do ano anterior ao ano de declaração no arquivo saldo_acoes_AAAA.xlsx na pasta saldo_anos_anteriores
- 8) Caso seja o primeiro ano de investimento em ações, crie um arquivo sem dados, apenas com as colunas: "Instituição", "Código de Negociação", "Quantidade", "Preço" e "Valor" com o nome saldo_acoes_AAAA.xlsx, onde AAAA é o ano anterior ao ano do cálculo da declaração. Exemplo, se a declaração é de 2021, o arquivo será "saldo_acoes_2020.xlsx"
- 9) Caso o investidor já tenha investimentos no ano anterior, deve-se criar o mesmo arquivo e preencher com as posições da declaração antiga


**O usuário se responsabiliza pela utilização e pela declaração gerada por esse algoritmo**

In [1]:
from scripts.declaracao import DeclaraImpostoAcoes

relatorio_negociacoes = "negociacao-2021.xlsx"
relatorio_movimentacoes = "movimentacao-2021.xlsx"
relatorio_ipos = "ofertas-publicas-2021.xlsx"
ano = 2021

declaracao2021 = DeclaraImpostoAcoes(ano, relatorio_negociacoes, relatorio_movimentacoes, relatorio_ipos)

# EVENTOS EXÓTICOS

**Nessa seção é necessário conhecimento em python e pandas para analisar os eventos que não podem ser tratados automaticamente** 

- Atualização
- Cisão

In [2]:
declaracao2021.eventosExoticos()

,Instituição,Data do Negócio,Tipo de Movimentação,Código de Negociação,Quantidade,Preço,Valor
43,CORRETORA AAA,2021-10-19,Cisão,SANB11,100,0.0,0.0
44,CORRETORA AAA,2021-10-19,Cisão,GETT11,50,0.0,0.0
48,CORRETORA AAA,2021-11-23,Atualização,IGTI3,100,0.0,0.0
54,CORRETORA AAA,2021-12-07,Atualização,NTCO3,100,0.0,0.0

**Aqui é necessário verificar o que aconteceu no evento exótico**
- Verificar as colunas 'Tipo de Movimentação' e 'Código de Negociação'

Nesse exemplo, eu procurei saber sobre a Cisão de SANB11 e GETT11 e descobri GETT11 é uma empresa do grupo da SANB11 e começou a ser negociada na bolsa de forma separada, então todos os acionistas de SANB11 receberam alguma quantidade de ações de GETT11. Portanto todas as ações de GETT11 podem ser consideradas como compra de preço médio zero.  

Atualização de IGTI3: por uma questão de reestruturação do grupo, o ticker foi alterado de JPSA3 para IGTI3  

Atualização de NTCO3: nada relevante que altere o cálculo de imposto de renda

Então minhas ações nesse exemplo serão:
- Alterar o 'Tipo de Movimentação' da 'GETT11' para 'Compra'
- Alterar o 'Código de Negociação' de 'JPSA3' para 'IGTI3', para que os cálculos sejam feitos todos com o novo ticker

**Tranforma a Cisão da GETT11 em Compra**

In [3]:
filtro_gett11 = (declaracao2021.dados['Tipo de Movimentação']=='Cisão') & (declaracao2021.dados['Código de Negociação']=='GETT11')
declaracao2021.trataEventosExoticos(filtro_gett11, 'Tipo de Movimentação', 'Compra')

**Troca o ticker JPSA3 para IGTI3**

In [4]:
filtro_jpsa3 = declaracao2021.dados['Código de Negociação']=='JPSA3'
declaracao2021.trataEventosExoticos(filtro_jpsa3, 'Código de Negociação', 'IGTI3')

# BENS E DIREITOS

In [5]:
declaracao2021.bensDireitos()

CORRETORA AAA

00.001.180/0001-26
50 ações da empresa CENTRAIS ELET BRAS S.A. – ELETROBRAS (ELET3) - Custódia: CORRETORA AAA
R$ 50,02

90.400.888/0001-42
100 ações da empresa BCO SANTANDER (BRASIL) S.A. (SANB11) - Custódia: CORRETORA AAA
R$ 100,03

32.785.497/0001-97
200 ações da empresa NATURA &CO HOLDING S.A. (NTCO3) - Custódia: CORRETORA AAA
R$ 200,06

92.754.738/0001-62
160 ações da empresa LOJAS RENNER S.A. (LREN3) - Custódia: CORRETORA AAA
R$ 150,05

60.543.816/0001-93
400 ações da empresa IGUATEMI S.A. (IGTI3) - Custódia: CORRETORA AAA
R$ 100,03

12.648.266/0001-24
100 ações da empresa AMBIPAR PARTICIPACOES E EMPREENDIMENTOS S/A (AMBP3) - Custódia: CORRETORA AAA
R$ 100,03

10.440.482/0001-54
50 ações da empresa GETNET ADQUIRENCIA E SERVICOS PARA MEIOS DE PAGAMENTO S.A. (GETT11) - Custódia: CORRETORA AAA
R$ 0,0





CORRETORA BBB

33.453.598/0001-23
100 ações da empresa RAIZEN S.A. (RAIZ4) - Custódia: CORRETORA BBB
R$ 100,03

12.648.266/0001-24
100 ações da empresa AMBIPAR PARTICIPACOES E EMPREENDIMENTOS S/A (AMBP3) - Custódia: CORRETORA BBB
R$ 150,05


O arquivo "saldo_acoes_2021.xlsx" com o saldo do ano 2021 foi criado na pasta "C:\Users\lucas\GitHub\Portfolio\Declaracao-IRPF-Acoes\saldo_anos_anteriores\"! Mantenha-o nessa pasta para utilizá-lo novamente no próximo ano.

**No exemplo acima a cissão do Banco Santander gerando 50 ações da GETNET resultou na posse de 50 ações dessa empresa com custo de compra de R$0,00. Nesse caso é só não declarar essas 50 ações, mantêm-as no arquivo de saldo_acoes, para quando houver a venda dessas ações, elas serem contabilizadas como lucro sobre operações.**

**Se achar que essa interpretação está incorreta, recalcule manualmente o preço médio das ações do Santander e da GETNET e preencha o arquivo saldo_acoes gerado com os valores calculados**

# RENDIMENTOS COM VENDAS DE AÇÕES

### LUCRO ISENTO POR MÊS

In [6]:
declaracao2021.calculaRendimentos('lucro_isento')

     Total de vendas      Lucro
Mês
8            44.9865  14.976751
9            99.9700  49.952502

### LUCRO ISENTO NO ANO

In [7]:
declaracao2021.calculaRendimentos('lucro_isento_no_ano')

                      2021
Total de vendas   144.9565
Lucro            64.929253

### PREJUÍZO POR MÊS

In [8]:
declaracao2021.calculaRendimentos('prejuizo')

     Total de vendas   Prejuizo
Mês
6            24.9925 -25.021249
7            75.9772 -44.056597

# PROVENTOS

## Dividendos
#### Rendimentos Isentos e Não Tributáveis

- CNPJ, Nome da Fonte Pagadora (empresa), valor

In [9]:
declaracao2021.somaProventos('dividendo')

,Código de Negociação,Valor,Denominação social,CNPJ
0,ELET3,10.5,CENTRAIS ELET BRAS S.A. – ELETROBRAS,00.001.180/0001-26
1,SANB11,8.0,BCO SANTANDER (BRASIL) S.A.,90.400.888/0001-42

## Juros Sobre Capital Próprio
#### Rendimentos Sujeito a Tributação Exclusiva

- CNPJ, Nome da Fonte Pagadora (empresa), valor

In [10]:
declaracao2021.somaProventos('jcp')

  Código de Negociação  Valor           Denominação social                CNPJ
2               SANB11    1.0  BCO SANTANDER (BRASIL) S.A.  90.400.888/0001-42
3                TOTS3    4.5                   TOTVS S.A.  53.113.791/0001-22